:root {
    --light-pink: #f59eab;
    --pink: #d43f55;
    --blue: #000027;
    --white: white;
    --light-blue: #0e004f;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: "fredoka";
  }
  
  html {
    height: 100%;
  }

body {
    /* height: 100%; */
    background-color: var(--light-pink);
    color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--pink);
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

main{
    width: 80%; 
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: white;
}

p {
    font-size: 1.5rem;
}

li {
    font-size: 1.25rem;
}

main a {
    color: #d43f55;
}

footer{
    text-align: center;
    margin: 2rem;
}

#copy {
    color: var(--light-blue);
}

 footer a {
    color: #d43f55;
    font-weight: bolder;
    font-size: 2rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    p{
        font-size: 1.25rem;
    }
    li{
        font-size: 1rem;
    }
    #copy{
        font-size: 1rem;
    }
    footer {
        margin: 1rem;
    }
    footer a{
        font-size: 1rem;
    }
}